body{
    background-color: #FFD93D;
}

.container
{
    
    background-color: white;
    border-radius: 2ch;
    min-height: 100vh;
    width: 100vw;
    border-color: black;
    border: 3px solid;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    padding-right: 0px !important;
    
}
.first{
    flex: 1;
    display: flex;
    justify-content: center;
}
.intro{
    font-weight: 750;
    font-size: 53px;
}
.red
{
    padding-top: 100px !important;
    font-size: 24px;
    font-weight: 400;
    
}

.black{
    display: flex;
    align-items: center;
    justify-content: center;}
    
#logo{
    
        -webkit-filter: drop-shadow(7px 5px 0 black)
                        drop-shadow(-1px -1px 0 black);
        filter: drop-shadow(7px 5px 0 black) 
                drop-shadow(-1px -1px 0 black);
     
}


.nav-pills{
    align-items: center;

}
.nav-link{
    color: black !important;
}

.nav-link.active{
    background-color: white !important;
}

@media (min-width: 425px) and (max-width: 992px)
{
    .container {
        padding: 10px; /* Adjust padding for smaller screens */
    }
    .first{
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }
    .black{
        display: flex;
        
    }
}

@media (min-width: 100px) and (max-width: 425px)
{
    .container {
        padding: 0px;
        margin-right: 10px !important; 
        margin-left: 10px !important;
    }
    .first{
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }
    .red{
        padding: 3px !important;
    }
    .black{
        display: flex;
        
    }
    .ved{
        height: 300px !important;
        width: 300px !important;
    }
}